@model MontagemCurriculo.Models.Curriculo


@{
    ViewData["Title"] = "Currículo " + Model.Nome;
}


<div>
   <ul class="collection with-header">
       <li class="collection-header">
           <h5>
               Objetivos <a asp-action="Create" asp-controller="Objetivos" asp-route-id="@Model.CurriculoID" class="btn-floating btn-small blue darken-4">
               <i class="material-icons">add</i></a>
           </h5>
       </li>
       @await Component.InvokeAsync("Objetivos", Model.CurriculoID)
   </ul>

    </div>


    <div class="row">
        <a asp-action="Index" class="btn btn-small grey lighten-1">Voltar</a>
    </div>
